
.avatar {
  background-color: white;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.image {
  position: relative;
}

main {
  display: block;
  position: relative;
  top: 20%;
  margin: 0 auto;
  width: 260px;
  overflow: hidden;
}

h1 {
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin: 0;
  font-family: "Open Sans", sans-serif;

}

.first {
  animation: move 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  margin-bottom: -140px;
  z-index: 2;
}
.second {
  font-size: 100px;
  animation: movedown 1s;
  animation-delay: 60s;
  animation-fill-mode: forwards;
  z-index: 1;
  margin-top: -91px;
  opacity: 0;
}

@keyframes move {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(50%);
  }

}
@keyframes movedown {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 20px, 0);
    opacity: 0.5;
    color: #ffb3b3;
  }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 0.5;
    color: #ffb3b3;
  }

}

h2 {
  font-size: 100px;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  opacity: 0.2;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

body, html {
  color: white;
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("background.svg")
}
